<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Jedi</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>

	<div class="container-fluid">
		<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

		<h1>Jedi Forces</h1>

		<table class="table">
			<tr>
				<th>NAME</th>
				<th>LASTNAME</th>
			</tr>
			<tr th:each="jedi : ${allJedi}">
				<td th:text="${jedi.name}"></td>
				<td th:text="${jedi.lastName}"></td>
			</tr>
		</table>

		<br> 
		
		<a class="btn btn-link" th:href="@{/new-jedi}" role="button">New Jedi</a>
	</div>

	<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>